pin-depends: [
  ["tailwindcss.dev" "https://github.com/tmattio/opam-tailwindcss/archive/e5bb6361a50c7cc5cad802311e609336583ca08f.tar.gz"]
  ["dream.dev" "git+https://github.com/mtelvers/dream#2a7c14bcc63eece51d12c9c7dff1b47b13bb3618"]
  ["dream-httpaf.dev" "git+https://github.com/mtelvers/dream#2a7c14bcc63eece51d12c9c7dff1b47b13bb3618"]
  ["dream-pure.dev" "git+https://github.com/mtelvers/dream#2a7c14bcc63eece51d12c9c7dff1b47b13bb3618"]
]
